<ion-view>
    <ion-nav-title class="title">Project Name</ion-nav-title>
<ion-nav-bar class="bar-hmhorange">
  <ion-nav-back-button class="button-icon button-clear ion-ios-arrow-left">
      </ion-nav-back-button>
    <div class="buttons">
            <a href="#/app/projects" class="button icon button-icon">Home</a>
        </div>
</ion-nav-bar>
<ion-content ng-init="num = getIndex()">
        
        <div class="list card">

            <div href="#" class="item">
            <i class="ion-ios-person-outline"></i>
            {{projectDetails[num].initiator}}
            </div>

            <div href="#" class="item">
            <i class="ion-ios-pricetags-outline"></i>
            Revision: {{projectDetails[num].revision}}
            </div>
            
            <div href="#" class="item">
            <i class="ion-ios-time-outline"></i>
            {{projectDetails[num].dateCreated}}
            </div>
            <div ng-controller="DownloadCtrl">
                <a ng-init="file=projectDetails[num].URL;revision=projectDetails[num].revision" class="item" ng-click="download(file, revision)">
                <i class="ion-ios-download-outline"></i>
                Download Epub
                </a>

                <div flow-init="{
                                target: 'http://localhost/www/temp',
                                testChunks: false,
                                permanentErrors: [500, 501],
                                maxChunkRetries: 1,
                                chunkRetryInterval: 5000,
                                simultaneousUploads: 1
                                }" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message">
                    <div class="item" >
                        <!--<input type="file" flow-btn/>-->
                        <span class="button button-flow item-inkling" flow-btn>Upload File</span>
                    </div>
                    <div ng-repeat="file in $flow.files">
                        <div href="#" class="item">
                        <i class="ion-ios-pie-outline"></i>
                        Chunk: {{$index+1}}
                        </div>
                        <div href="#" class="item">
                        <i class="ion-ios-copy-outline"></i>
                        File Name: {{file.name}}
                        </div>
                        <div href="#" class="item">
                        <i class="ion-ios-email-outline"></i>
                        Message: {{file.msg}}
                        </div>
                    </div>

                    <!--<table>
                        <tr ng-repeat="file in $flow.files">
                            <td>{{$index+1}}</td>
                            <td>{{file.name}}</td>
                            <td>{{file.msg}}</td>
                        </tr>
                    </table>-->
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
